
@media (min-width: 1400px) {
  .container {
      max-width: 910px;
  }
}

.container, .container-fluid {
  padding: 0px;
  padding-bottom: 100px;


}


*{
  margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

.container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
  gap: 15px;
  margin-bottom: 89px;

}

.container .box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background:#fff;
  text-align:center;
  height: 338px;
}

.container .box-container .box img{
  height: 120px;
  width: 250px;
}
.container .box-container.box h5{
  color: #444;
  /* font-size:5px; */
  padding: 5px;
  width: 250px;
  line-height: 120%;


 

}


.container .box-container.box p{
  color: #777;
  width: 250px;
  line-height: 120%;
  padding: 5px;
}

.container .box-container .box a{
  color: var(--Dark-Red, #D02424);

}

.container .box-container .box .linkA{
  /* text-align: end; */
  display: flex;
  gap: 5px;


  
}

.container .center_text_he{
  margin: auto;
  width: 563px;
  height: auto;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
  font-size: 50px;

}

.serchbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 89px 0px 89px 0px;
}

.go{
  display: flex;
  padding: 15px;
  color: var(--light, #FDFDFA);
  font-family: "Iowan Old Style";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  align-items: center;
  border-radius: 1px;
  border: 1px solid #E84848;
  background: #E84848;
}


.center_text_he1{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2.264px;
  justify-content: center;

}
.logo{
  display: flex;

}

input:focus{
  outline: none;
}
